/*Genral Styles*/

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
    font: normal 16px sans-serif;
    color: #555;
}

ul, nav{
    list-style: none;
}

a{
    text-decoration: none;
    opacity: 0.75;
    color: #555;
}

/*Header Styles*/

header{
    position: absolute;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 35px 100px 0;
    animation: 1s fadein 0.5s forwards;
    opacity: 0;
}

@keyframes fadein {
    100%{
        opacity: 1;
    }
}

header h2{
    font-family: "Quicksand", sans-serif;
    font-size: 30px;
    padding-bottom: 10px;
}

header nav{
    display: flex;
    margin-right: -15px;
}

header nav li{
    margin: 0 15px;
}

header nav li i {
    margin-right: 10px;
    color: #52c9aa;
}

@media (max-width: 800px){
    header{
        padding: 20px 50px;
        flex-direction: column;
    }

    header h2{
        font-size: 25px;
        margin-bottom: 10px;
    }

    header nav li{
        font-size: 14px;
    }
}

@media (max-width: 500px){
    header nav{
        flex-direction: column;
        align-items: center;
    }

    header h2{
        font-size: 20px;
        margin-bottom: 0;
    }

    header nav li{
        font-size: 12px;
    }
}

















